In [3]:
import pandas as pd 
import numpy as np

In [4]:
df=pd.read_csv('customer.csv')
df.head()

   age  gender   review education purchased
0   30  Female  Average    School        No
1   68  Female     Poor        UG        No
2   70  Female     Good        PG        No
3   72  Female     Good        PG        No
4   16  Female  Average        UG        No

In [5]:
df['review'].value_counts()

Poor       18
Good       18
Average    14
Name: review, dtype: int64

In [6]:
df['education'].value_counts()

PG        18
School    16
UG        16
Name: education, dtype: int64

In [13]:
frequency=df['gender'].value_counts().to_dict()
frequency

{'Female': 29, 'Male': 21}

In [14]:
df['Gender']=df['gender'].map(frequency)

In [16]:
df.drop('gender',inplace=True,axis=True)

In [27]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [28]:
df['purchased']=le.fit_transform(df['purchased'])

In [29]:
df.head()

   age   review education  purchased  Gender
0   30  Average    School          0      29
1   68     Poor        UG          0      29
2   70     Good        PG          0      29
3   72     Good        PG          0      29
4   16  Average        UG          0      29

In [31]:
df

    age   review education  purchased  Gender
0    30  Average    School          0      29
1    68     Poor        UG          0      29
2    70     Good        PG          0      29
3    72     Good        PG          0      29
4    16  Average        UG          0      29
5    31  Average    School          1      29
6    18     Good    School          0      21
7    60     Poor    School          1      29
8    65  Average        UG          0      29
9    74     Good        UG          1      21
10   98     Good        UG          1      29
11   74     Good        UG          1      21
12   51     Poor    School          0      21
13   57  Average    School          0      29
14   15     Poor        PG          1      21
15   75     Poor        UG          0      21
16   59     Poor        UG          1      21
17   22     Poor        UG          1      29
18   19     Good    School          0      21
19   97     Poor        PG          1      21
20   57  Average    School          1      29
21   32  Average        PG          0      21
22   18     Poor        PG          1      29
23   96     Good    School          0      29
24   16  Average        PG          1      29
25   57     Good    School          0      29
26   53     Poor        PG          0      29
27   69     Poor        PG          0      29
28   48     Poor    School          0      21
29   83  Average        UG          1      29
30   73  Average        UG          0      21
31   22     Poor    School          1      29
32   92  Average        UG          1      21
33   89     Good        PG          1      29
34   86  Average    School          0      21
35   74     Poor    School          1      21
36   34     Good        UG          1      29
37   94  Average        PG          1      21
38   45     Good    School          0      29
39   76     Poor        PG          0      21
40   39     Good    School          0      21
41   23     Good        PG          1      21
42   30     Good        PG          1      29
43   27     Poor        PG          0      21
44   77  Average        UG          0      29
45   61     Poor        PG          1      21
46   64     Poor        PG          0      29
47   38     Good        PG          1      29
48   39     Good        UG          1      29
49   25     Good        UG          0      29

In [8]:
from sklearn.preprocessing import OneHotEncoder

In [21]:
ohe=OneHotEncoder(drop='first',sparse=False)

In [22]:
review_education=ohe.fit_transform(df[['review','education']])

In [25]:
df1=pd.DataFrame(review_education,columns=['review_1','review_2','education_1','education_2'])

In [32]:
df1

    review_1  review_2  education_1  education_2
0        0.0       0.0          1.0          0.0
1        0.0       1.0          0.0          1.0
2        1.0       0.0          0.0          0.0
3        1.0       0.0          0.0          0.0
4        0.0       0.0          0.0          1.0
5        0.0       0.0          1.0          0.0
6        1.0       0.0          1.0          0.0
7        0.0       1.0          1.0          0.0
8        0.0       0.0          0.0          1.0
9        1.0       0.0          0.0          1.0
10       1.0       0.0          0.0          1.0
11       1.0       0.0          0.0          1.0
12       0.0       1.0          1.0          0.0
13       0.0       0.0          1.0          0.0
14       0.0       1.0          0.0          0.0
15       0.0       1.0          0.0          1.0
16       0.0       1.0          0.0          1.0
17       0.0       1.0          0.0          1.0
18       1.0       0.0          1.0          0.0
19       0.0       1.0          0.0          0.0
20       0.0       0.0          1.0          0.0
21       0.0       0.0          0.0          0.0
22       0.0       1.0          0.0          0.0
23       1.0       0.0          1.0          0.0
24       0.0       0.0          0.0          0.0
25       1.0       0.0          1.0          0.0
26       0.0       1.0          0.0          0.0
27       0.0       1.0          0.0          0.0
28       0.0       1.0          1.0          0.0
29       0.0       0.0          0.0          1.0
30       0.0       0.0          0.0          1.0
31       0.0       1.0          1.0          0.0
32       0.0       0.0          0.0          1.0
33       1.0       0.0          0.0          0.0
34       0.0       0.0          1.0          0.0
35       0.0       1.0          1.0          0.0
36       1.0       0.0          0.0          1.0
37       0.0       0.0          0.0          0.0
38       1.0       0.0          1.0          0.0
39       0.0       1.0          0.0          0.0
40       1.0       0.0          1.0          0.0
41       1.0       0.0          0.0          0.0
42       1.0       0.0          0.0          0.0
43       0.0       1.0          0.0          0.0
44       0.0       0.0          0.0          1.0
45       0.0       1.0          0.0          0.0
46       0.0       1.0          0.0          0.0
47       1.0       0.0          0.0          0.0
48       1.0       0.0          0.0          1.0
49       1.0       0.0          0.0          1.0

In [34]:
df2=pd.concat([df,df1],axis=1)

In [39]:
df2.drop(['review','education'],axis=1,inplace=True)

In [40]:
df2

    age  purchased  Gender  review_1  review_2  education_1  education_2
0    30          0      29       0.0       0.0          1.0          0.0
1    68          0      29       0.0       1.0          0.0          1.0
2    70          0      29       1.0       0.0          0.0          0.0
3    72          0      29       1.0       0.0          0.0          0.0
4    16          0      29       0.0       0.0          0.0          1.0
5    31          1      29       0.0       0.0          1.0          0.0
6    18          0      21       1.0       0.0          1.0          0.0
7    60          1      29       0.0       1.0          1.0          0.0
8    65          0      29       0.0       0.0          0.0          1.0
9    74          1      21       1.0       0.0          0.0          1.0
10   98          1      29       1.0       0.0          0.0          1.0
11   74          1      21       1.0       0.0          0.0          1.0
12   51          0      21       0.0       1.0          1.0          0.0
13   57          0      29       0.0       0.0          1.0          0.0
14   15          1      21       0.0       1.0          0.0          0.0
15   75          0      21       0.0       1.0          0.0          1.0
16   59          1      21       0.0       1.0          0.0          1.0
17   22          1      29       0.0       1.0          0.0          1.0
18   19          0      21       1.0       0.0          1.0          0.0
19   97          1      21       0.0       1.0          0.0          0.0
20   57          1      29       0.0       0.0          1.0          0.0
21   32          0      21       0.0       0.0          0.0          0.0
22   18          1      29       0.0       1.0          0.0          0.0
23   96          0      29       1.0       0.0          1.0          0.0
24   16          1      29       0.0       0.0          0.0          0.0
25   57          0      29       1.0       0.0          1.0          0.0
26   53          0      29       0.0       1.0          0.0          0.0
27   69          0      29       0.0       1.0          0.0          0.0
28   48          0      21       0.0       1.0          1.0          0.0
29   83          1      29       0.0       0.0          0.0          1.0
30   73          0      21       0.0       0.0          0.0          1.0
31   22          1      29       0.0       1.0          1.0          0.0
32   92          1      21       0.0       0.0          0.0          1.0
33   89          1      29       1.0       0.0          0.0          0.0
34   86          0      21       0.0       0.0          1.0          0.0
35   74          1      21       0.0       1.0          1.0          0.0
36   34          1      29       1.0       0.0          0.0          1.0
37   94          1      21       0.0       0.0          0.0          0.0
38   45          0      29       1.0       0.0          1.0          0.0
39   76          0      21       0.0       1.0          0.0          0.0
40   39          0      21       1.0       0.0          1.0          0.0
41   23          1      21       1.0       0.0          0.0          0.0
42   30          1      29       1.0       0.0          0.0          0.0
43   27          0      21       0.0       1.0          0.0          0.0
44   77          0      29       0.0       0.0          0.0          1.0
45   61          1      21       0.0       1.0          0.0          0.0
46   64          0      29       0.0       1.0          0.0          0.0
47   38          1      29       1.0       0.0          0.0          0.0
48   39          1      29       1.0       0.0          0.0          1.0
49   25          0      29       1.0       0.0          0.0          1.0